.container{
    height: 300px;
    border: 2px solid salmon;
    /* display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-around;
    gap: 10px;
    flex-basis: 25%; */

    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: 200px 100px 50px;
    grid-template-rows: 100px 20px;
    justify-content: center;
    
    
}
.box{
    /* width: 100px;
    height: 80px; */
    border: 2px solid green;
    margin: 10px;
    background-color: aquamarine;
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
}